= render 'shared/errors', object: @book

= simple_form_for @book do |f|
  %div.mb-3.row
    .col-sm-8.col-form
      = f.input :title
      = f.input :pages_count
      = f.input :stock_balance
      = f.input :print_date
      = f.input :cover, as: :select, collection: Book.covers.keys
      = f.association :authors# , as: :check_boxes 
      %br
      = f.submit "Submit!", class: 'btn btn-primary btn-sm'
