%h1 Books
- @books.each do |book|
  %h2= book.title
  %p
    = book.author
  %p
    = book.cover
  %p
    = book.pages
  %p
    = book.print_date
    %br/
    = link_to 'Show', book_path(book)
    |
    \#{link_to 'Edit', edit_book_path(book)} |
    \#{link_to 'Destroy', book_path(book), data: {method: :delete, confirm: 'Are you sure?'}}