%h1.mb-4
  = @book.title
%p.lead.my-3
  = @book.title
%p.lead.my-3
  = @book.authors.name
= link_to 'Show', book_path(@book), class: 'btn btn-primary'
= link_to 'Edit', edit_book_path(@book), class: 'btn btn-secondary'
= link_to 'Destroy', book_path(@book), class: 'btn btn-danger', data: {method: :delete, confirm: 'Are you sure?'}